{% extends 'layout/layout_vertical.html' %}

{% load static %}

{% block title %}Автоматы{% endblock %}

{% block vendor_css %}
{{ block.super }}
{% endblock vendor_css %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/vending_machines.css' %}" />
{% endblock page_css %}

{% block vendor_js %}
{{ block.super }}
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/api.js' %}"></script>
<script src="{% static 'js/vending_machines.js' %}"></script>
{% endblock page_js %}

{% block content %}

<div class="container">
    <div class="mb-4 p-4 bg-white rounded shadow">
        <h3>Добавить Автомат</h3>
        <form id="addVendingMachineForm">
            <div class="form-group">
                <label for="ip_address">IP Адрес</label>
                <input type="text" class="form-control" id="ip_address" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Добавить Автомат</button>
        </form>
    </div>

    <div class="mb-4 p-4 bg-white rounded shadow">
        <h3>Список Автоматов</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Адрес</th>
                    <th>IP Адрес</th>
                    <th>Статус</th>
                    <th>Последняя Синхронизация</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody id="vendingMachineList">

            </tbody>
        </table>
    </div>
</div>

{% endblock %}
