<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница затаривания</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='settings.css') }}">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <div class="title">
        <h2>Затаривание</h2>
    </div>
    <div class="container">
        <div class="item">
            <div class="product-cell-number">
                <p>001</p>
            </div>
            <div class="product-name">
                <label for="name1">Название:</label>
                <input type="text" name="name1">
            </div>
            <div class="product-description">
                <label for="description1">Описание:</label>
                <textarea name="description1"></textarea>
            </div>
            <div class="product-category">
                <label for="category1">Категория:</label>
                <select name="category1">
                    <option value="croissant">Круассан</option>
                    <option value="donut">Пончик</option>
                </select>
            </div>
            <div class="product-image">
                <label for="image1">Изображение:</label>
                <input type="file" id="image1">
            </div>
        </div>
        <div class="item">
            <div class="product-cell-number">
                <p>001</p>
            </div>
            <div class="product-name">
                <label for="name1">Название:</label>
                <input type="text" name="name1">
            </div>
            <div class="product-description">
                <label for="description1">Описание:</label>
                <textarea name="description1"></textarea>
            </div>
            <div class="product-category">
                <label for="category1">Категория:</label>
                <select name="category1">
                    <option value="croissant">Круассан</option>
                    <option value="donut">Пончик</option>
                </select>
            </div>
            <div class="product-image">
                <label for="image1">Изображение:</label>
                <input type="file" id="image1">
            </div>
        </div>
        <div class="item">
            <div class="product-cell-number">
                <p>001</p>
            </div>
            <div class="product-name">
                <label for="name1">Название:</label>
                <input type="text" name="name1">
            </div>
            <div class="product-description">
                <label for="description1">Описание:</label>
                <textarea name="description1"></textarea>
            </div>
            <div class="product-category">
                <label for="category1">Категория:</label>
                <select name="category1">
                    <option value="croissant">Круассан</option>
                    <option value="donut">Пончик</option>
                </select>
            </div>
            <div class="product-image">
                <label for="image1">Изображение:</label>
                <input type="file" id="image1">
            </div>
        </div>
        <div class="item">
            <div class="product-cell-number">
                <p>001</p>
            </div>
            <div class="product-name">
                <label for="name1">Название:</label>
                <input type="text" name="name1">
            </div>
            <div class="product-description">
                <label for="description1">Описание:</label>
                <textarea name="description1"></textarea>
            </div>
            <div class="product-category">
                <label for="category1">Категория:</label>
                <select name="category1">
                    <option value="croissant">Круассан</option>
                    <option value="donut">Пончик</option>
                </select>
            </div>
            <div class="product-image">
                <label for="image1">Изображение:</label>
                <input type="file" id="image1">
            </div>
        </div>
        <div class="item">
            <div class="product-cell-number">
                <p>001</p>
            </div>
            <div class="product-name">
                <label for="name1">Название:</label>
                <input type="text" name="name1">
            </div>
            <div class="product-description">
                <label for="description1">Описание:</label>
                <textarea name="description1"></textarea>
            </div>
            <div class="product-category">
                <label for="category1">Категория:</label>
                <select name="category1">
                    <option value="croissant">Круассан</option>
                    <option value="donut">Пончик</option>
                </select>
            </div>
            <div class="product-image">
                <label for="image1">Изображение:</label>
                <input type="file" id="image1">
            </div>
        </div>
        <div class="item">
            <div class="product-cell-number">
                <p>001</p>
            </div>
            <div class="product-name">
                <label for="name1">Название:</label>
                <input type="text" name="name1">
            </div>
            <div class="product-description">
                <label for="description1">Описание:</label>
                <textarea name="description1"></textarea>
            </div>
            <div class="product-category">
                <label for="category1">Категория:</label>
                <select name="category1">
                    <option value="croissant">Круассан</option>
                    <option value="donut">Пончик</option>
                </select>
            </div>
            <div class="product-image">
                <label for="image1">Изображение:</label>
                <input type="file" id="image1">
            </div>
        </div>
    </div>
</body>
</html>
